<nz-card nzTitle="Card title" [nzExtra]="extraTemplate">

  <nz-table #basicTable [nzData]="taskList">
    <thead>
      <tr>
        <th>Employee</th>
        <th>Task</th>
        <th>Date Assigned</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.employee.name }}</td>
        <td>{{ data.title }}</td>
        <td>{{ data.dateAssigned }}</td>
        <td>
          <a>Edit </a>
          <a>Delete </a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>

<ng-template #extraTemplate>
  <button nz-button [nzType]="'primary'" (click)="showModal()"><span>Show Modal</span></button>
    
  
</ng-template>


<nz-modal [(nzVisible)]="isAddTask" nzTitle="The first Modal" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <p>Content one</p>
    <p>Content two</p>
    <p>Content three</p>
  </ng-container>
</nz-modal>



<!-- 


<nz-table #basicTable [nzData]="listOfData">
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Address</th>
      <th>Action</th>
    </tr> 
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{ data.name }}</td>
      <td>{{ data.age }}</td>
      <td>{{ data.address }}</td>
      <td>
        <a>Edit</a>
        <a>Delete</a>
      </td>
    </tr>
  </tbody>
</nz-table> -->