<nz-card nzTitle="Employee Tasks" [nzExtra]="extraTemplate">

  <nz-table #basicTable [nzData]="taskList">
    <thead>
      <tr>
        <th>Employee</th>
        <th>Task</th>
        <th>Date Assigned</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.employee.name }}</td>
        <td>{{ data.title }}</td>
        <td>{{ data.dateAssigned }}</td>
        <td>
          <!-- <button nz-button [nzType]="'primary'" (click)="showModal(data.id)"><span>Edit</span></button> -->
          <a (click)=" editTask(data.id)">Edit </a>
          <a nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="deleteTask(data.id)">Delete </a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>

<ng-template #extraTemplate>
  <button nz-button [nzType]="'primary'" (click)="showModal()"><span>Add Task</span></button>
</ng-template>


<nz-modal [(nzVisible)]="isModalOpen" nzTitle="Add Task" [nzFooter]="modalFooter" (nzOnCancel)="handleCancel()">
  <ng-container *nzModalContent>
    <!-- Input form -->
    <!-- Drop down selecting Employee -->

    <!-- <div nz-row [nzGutter]="[3, 1]">
      <div nz-col [nzSpan]="7">Employee Name</div>
      <div nz-col [nzSpan]="12">
        <nz-select [(ngModel)]="selectedValue" nzShowSearch nzAllowClear nzPlaceHolder="Select an Employee">
          <nz-option *ngFor="let e of employeeList" nzLabel="{{e.name}}" nzValue="{{e.id}}"></nz-option>
        </nz-select>

      </div>
    </div> -->
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">


      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzFor="employeeId" nzRequired>Employee Name</nz-form-label>
        <nz-form-control *ngIf="!isEdit" [nzSpan]="12" nzErrorTip="Please select Employee">
          <nz-select formControlName="employeeId" nzShowSearch nzAllowClear nzPlaceHolder="Select an Employee">
            <nz-option *ngFor="let e of employeeList" nzLabel="{{e.name}}" nzValue="{{e.id}}"></nz-option>
          </nz-select>
        </nz-form-control>
        <b *ngIf="isEdit">{{selectedValue}}</b>
      </nz-form-item>


      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Task Title</nz-form-label>
        <nz-form-control [nzSpan]="12" nzErrorTip="Please write something here!">
          <!-- <textarea formControlName="title" nz-input rows="2" placeholder="write any thing"></textarea> -->
          <input id="title" type="text" nz-input formControlName="title" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Date Assigned</nz-form-label>
        <nz-form-control [nzSpan]="12" nzErrorTip="Please select date">
          <nz-date-picker nzShowTime formControlName="datePickerTime"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </form>

  </ng-container>


  <ng-template #modalFooter>
    <button *ngIf="!isEdit" nz-button nzType="primary" (click)="submitForm()"
      [nzLoading]="isConfirmLoading">Submit</button>
    <button *ngIf="isEdit" nz-button nzType="primary" (click)="submitEdit()"
      [nzLoading]="isConfirmLoading">Submit</button>
  </ng-template>

</nz-modal>